@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>


@if ((string)ViewData["Username"] == "Guest" || ViewData["Score"].ToString() == "0")
{
    <a class="nav-link waves-effect waves-light" href="@Url.Action("Login","Account", new { Area = "Identity" })">
        @("Hello! ")
        @ViewData["Username"]
        @(" - Login Here:<")
        <i class="fas fa-check-circle"></i>
    </a>
}
else
{
    <a class="nav-link waves-effect waves-light" href="https://www.chicagotribune.com/resizer/8yoALwU0WPtzgBVBbMloP7mgxfk=/1200x0/top/www.trbimg.com/img-5cf45ff2/turbine/ct-life-ok-sign-racist-05282019">
        @("Hello! ")
        @ViewData["Username"]
        @(" Score: ")
        @ViewData["Score"]
        <i class="fas fa-check-circle"></i>
    </a>
}