@model TermProject.ViewModels.VotingViewModel
@{
    ViewData["Title"] = "Vote plz :<";
    ViewData["Username"] = Model.player.Username;
    ViewData["Player"] = Model.player;
    ViewData["Score"] = Model.player.Score;
    ViewData["BootStrap"] = true;
    var duels = Model.Duels.Where(d => d.Players.Count() == 2).ToList();
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voting</title>
    <style>
        .card-body {
            min-height: 300px;
            min-width: 300px;
            margin-right: 5px;
        }
        label {
  font-size: 1rem;
}

.card-input-element+.card {
  color: gray;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid transparent;
  border-radius: 4px;
}

.card-input-element+.card:hover {
  cursor: pointer;
}

.card-input-element:checked+.card {
  border: 2px solid gray;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}

    </style>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
</head>
<body class="text-center" style="justify-content:center;">
    <h3>Please Vote or ill be crying :<</h3>
    <div class="white-text" style="background-color: black; justify-content:center;">
        please dont vote for yourself
        @Html.ValidationMessage("Validation")


        @foreach (Duel d in duels)
        {
            using (Html.BeginForm("Voted", "Home",FormMethod.Get))
            {
                <h5 class="text-center">@d.Prompt.Text</h5>
                <div class="card-deck" style="justify-content:flex-end; justify-content:center;">

                    <label class="radio" style="border-left-width:10px; border-left:10px; justify-content:center;">
                        @Html.RadioButtonFor(model => model.duel.VotesP1, d.VotesP1 + 1, new { @class = "card-input-element d-none" })
                        <!--<input type="radio" asp-for="duel.VotesP1" class="card-input-element d-none" value=";" />-->
                        <div class="card bg-white text-center" style="width: 18rem;">
                            <div class="card-body text-white card-input">
                                <h5 class="card-title black-text">@d.Players[0].DuelCard.Text</h5>
                                <p class="card-text">
                                    click to select
                                </p>
                                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                            </div>
                            Answer by @d.Players[0].Username
                        </div>
                    </label>
                    <label class="radio" style="border-left-width:10px; border-left:10px; justify-content:center;">
                        @Html.RadioButtonFor(model => model.duel.VotesP2, d.VotesP2 + 1, new { @class = "card-input-element d-none" })
                        <!--<input type="radio" asp-for="duel.VotesP2" class="card-input-element d-none" value=";" />-->
                        <div class="card bg-white text-center" style="width: 18rem;">
                            <div class="card-body card-input">
                                <h5 class="card-title black-text">@d.Players[1].DuelCard.Text</h5>
                                <p class="card-text">
                                    click to select
                                </p>
                                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                            </div>
                            <div class="text-black-50">Answer by @d.Players[1].Username</div>
                        </div>
                    </label>
                    <input asp-for="duel.VoterID" hidden value="@Model.player.PlayerID">
                    <input asp-for="duel.DuelID" hidden value="@d.DuelID">
                    <input asp-for="duel.CardID" hidden value="@d.CardID">
                    <input asp-for="duel.Players[0].PlayerID" hidden value="@d.Players[0].PlayerID">
                    <input asp-for="duel.Players[1].PlayerID" hidden value="@d.Players[1].PlayerID">
                </div>
                <button type="submit" value="Submit" class="btn btn-outline-white">Submit</button>
            }
        }

        </div>
</body>
</html>
